@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Libre+Barcode+128&family=Montserrat:wght@100&family=Poppins:wght@400&family=Shadows+Into+Light&family=Splash&display=swap');


/* font-family: 'Comforter Brush', cursive;
font-family: 'Libre Barcode 128', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Splash', cursive; */

/* -------------------top----------------------------- */
*{
    font-family: 'Poppins', sans-serif;
}
/* a:hover{
    background-color: rgb(102, 102, 99);
} */
a:hover, a:active {font-size: 115%;}

#top{

    height: 100vh;
    background-color: #F2F2F2;

}
#title{
    padding-top: 22vh;
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
     text-shadow: rgb(77, 75, 75) 1px 0 10px;

}
#sub-title{
    /* text-shadow: rgb(77, 75, 75) 1px 0 10px; */
}
#navbarNavDropdown{
    padding-left: 470px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
 
}
.navbar-brand{

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
#top-img{
    padding-top: 15vh;
}
/* -----------------end top------------------------------- */


/* --------------------about-me--------------------------- */
#about{
    height:100vh;
    /* background-image: url(img/1.jpg);
    background-position: right 72% bottom 45%; */
    background-color: #181823;
}
/* --------------------end about--me-------------------------- */




/* ---------------------education--------------------------- */

#education{
    height:100vh;
    /* background-image: url(img/office.jpg);
    background-position: right 72% bottom 45%; */
    background-color: #F2F2F2;
}

#card-edu{
    margin: 60px;
    border: none;
    border-radius: 10px;
    text-align: center;
    
}
#img-edu{
 height: 250px;
}
figure{
    padding-top: 70px;
    color: #F2F2F2;
    
}
#figure{
    color: black;
}
/* -------------------end-education---------------------------- */
/* ---------------------seminars--------------------------- */

#seminars{
    height:100vh;
    /* background-image: url(img/office.jpg);
    background-position: right 72% bottom 45%; */
}
/* -------------------end--seminars--------------------------- */


/* ---------------------experience--------------------------- */
#experience{
    height:100vh;}
    /* background-color: rgb(68, 61, 53);
} */
/* -----------------end---experience---------------------------- */

/* -------------------contact---------------------------- */
#contact{
    height:100vh;
    background-color: #181823;
}
/* ------------------------------------------------------- */
#contact{
    height: 890px;
    background-color: #181823;
  }
  #contact h1 {
  color: white;

  font-size: 60px;
  padding-top: 270px;
  }
  #contact p ,label {
    color: white;
    font-family: 'Poppins', sans-serif;
    
    }
  #contact-text{
   
    }
    #contact-input{
      padding-left: ;
      padding-top: 250px;
      }
      #contact-input label{
       color: #f3eef8;
       font-size: 15px;
        }
        #contact-text span{
          color: red;
      
          font-size: 25px;
        }
     
        #btn{
          background-color:#1F252B ;
          color:white ;
     
          width: 100%;
        }
        #or{
          color: #868889;
          font-family: 'Poppins', sans-serif;
          text-align: center;
        }
  
/* -----------------end-contact---------------------------- */


/* =====================MEDIA============================= */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
/* ----------------------top----------------------------------- */
    #title{
        padding-top: ;
        font-size: 12vw;      
    
    }
    #navbarNavDropdown{
        padding-left: 0px;
    }
    #top-img{
        padding-top: 0px;
    }

    /* -----------------------end top---------------------------------- */

    /* ------------------------education--------------------------------- */

    #education{
        height:auto;
        /* background-image: url(img/office.jpg);
        background-position: right 72% bottom 45%; */
    }
    
    #card-edu{
 
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto
        
    }
    #img-edu{
     height: 60px;
     display: block;
     margin-left: auto;
     margin-right: auto
    }
    /* ---------------------end---education--------------------------------- */
    /* --------------------------------------------------------- */
    #contact h1 {

        font-size: 30px;
        padding-top: 100px;
        }
      
        #contact-input{
          padding-left: ;
          padding-top: 20px;
          }
          #contact{
            margin-top: 10px;
            height: 580px;
          
          }
          #contact-center{
           margin-top: 40px;
      }
          #contact-text {
          text-align: center;
          font-size: 13px;
          }
      
          #contact-input label{
       
            font-size: 13px;
             }
      
          #contact-text span{
         
            font-size: 18px;
          }
    /* --------------------------------------------------------- */

  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {...}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {...}
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {...}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1024px) {

  }
  @media only screen and (max-width: 1800px) {

  }